ion-modal {
  ion-item {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;

    ion-img {
      width: 35px;
      height: 35px;
    }

    ion-icon {
      width: 40px;
      height: 40px;
    }
  }
}
