::-webkit-scrollbar {
  display: none;
}

ion-content.transaction-content {
  --background: #285099 !important;

  .top-container {
    margin-top: 50px;
    .sub-text {
      font-size: 14px;
      color: #bac3d1;
      margin: 0px;
      padding: 0 25px;
      padding-top: 5px;
    }

    .sub-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 25px;
      margin-top: 25px;

      p {
        font-size: 30px;
        color: #ffffff;
        margin: 0;
      }

      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100px;

        .notification-container {
          padding-left: 0;

          .notification-badge {
            position: absolute;
            top: 51px;
            right: 85px;
            height: auto;
            border-radius: 20px;
          }

          .notification-icon {
            font-size: 30px;
            color: #bac3d1;
            transform-origin: top center;
            animation-name: swing;
          }

          .notification-icon.animated {
            animation-duration: 1s;
            animation-fill-mode: both;
            animation-iteration-count: infinite;
          }
        }

        ion-avatar {
          height: 40px;
          width: 40px;
          --border-radius: 15px;
          border: 1px solid #ffffff;
        }
      }
    }

    .tab-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 10px 0;
      margin-top: 10px;

      span {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 30px;
        transition: 0.1s 0.1s linear;

        ion-icon {
          font-size: 30px;
          background: #ffffff;
          border-radius: 15px;
          padding: 5px;
          color: #607d9d;
          margin-top: 5px;
        }

        p {
          font-size: 14px;
          color: #90a5cc;
          margin: 0px;
          padding: 5px;
        }
      }

      span.active {
        transition: 0.3s 0.2s linear;
        background: #f9f9f9;
        width: 100px;
        border-radius: 30px;

        ion-icon {
          color: #267ae4;
        }

        p {
          color: #267ae4;
        }
      }
    }
  }

  ion-card.home-card {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 20px 20px 0 0;
    height: 72%;
    overflow-y: scroll;
    --background: #f4f6f9 !important;

    .top-recent {
      display: flex;
      flex-direction: column;

      .top-header {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;

        p.header-text {
          margin-top: 10px;
          font-weight: 700;
          color: #184999;
          font-size: 18px;
          margin-left: 20px;
        }

        p {
          color: #20406a;
          font-weight: 500;
          text-align: right;
          margin-right: 24px;
        }
      }
    }

    .top-button {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;

      ion-button {
        --background: white !important;
        --padding-start: 30px;
        --padding-end: 30px;
        --border-width: 30px !important;
        margin-left: 7px;
        margin-right: 7px;
        width: 120px;
        height: 34px;
        
        p {
          color: #20406a;
          font-size: 12px;
          margin-bottom: 0;
          font-weight: 700;
        }
      }
    }

    .recent-card {
      .date-text {
        color: #b9c3d1;
        font-weight: 700;
        font-size: 13px;
      }

      .recent-container {
        margin-top: 10px;
        margin-bottom: 30px;
        color: #ffffff;
        border: 20px solid;
        margin-left: 7%;
        margin-right: 7%;
        border-radius: 10px;

        .recent-items {
          margin-top: -15px;
          ion-item-sliding {
            margin-top: 0;
            margin-left: 0px;
            --border-radius: 0px;
            --padding-start: 0 !important;
            --border-style: dashed;
            --background: #ffffff;

            ion-item {
              --padding-start: 0 !important;
            }
            
            ion-item-option {
              ion-icon {
                width: 20px;
                height: 20px;
              }
            }
            
            ion-item-option.item-option-create {
              --background: #267ae4 !important;
            }

            ion-item-option.item-option-delete {
              --background: #bf1363 !important;
            }

            ion-img {
              // font-size: 30px;
              width: 45px;
              height: 45px;
              background: #f6f7f9;
              border-radius: 10px;
              padding: 5px;
              color: #607d9d;
              margin-top: 5px;
              margin-left: 5px;
            }

            .transaction-note-detail {
              margin-top: 15px;
              margin-left: 10px;
              .transaction-category-name {
                font-size: 14px;
                font-weight: 700;
                color: #20406a;
                margin: 0px;
              }

              .transaction-note {
                font-size: 11px;
                margin: 0px;
                margin-top: 5px;
                margin-bottom: 15px;
              }
            }

            .transaction-value-detail {
              margin-left: 20%;
              float: right;

              .transaction-value {
                text-align: right;
                font-size: 14px;
                font-weight: 700;
                color: #20406a;
                margin: 0px;
              }

              .transaction-more-value {
                text-align: right;
                font-size: 11px;
                margin: 0px;
                margin-top: 5px;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
