ion-content.add-event-content {
  ion-icon {
    width: 40px;
    height: 40px;
    font-size: small;
    margin-right: 10px;
    margin-left: 5px;
    border-radius: 10px;
    border: 1px smooth #bfbfbf;
  }

  .img-icon {
    margin: 0;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    margin-left: 5px;
    border-radius: 10px;
    border: 1px smooth #bfbfbf;
  }
}
