
ion-popover.icons-popover {
  --max-height: 400px !important;
  --min-height: 350px !important;
  --max-width: 400px !important;
  --min-width: 350px !important;

  ion-grid {
    ion-img {
      margin: 10px;
    }
  }
}
  
